<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: "#a855f7",
              "background-light": "#ffffff",
              "background-dark": "#050505",
              "surface-light": "#f3f4f6",
              "surface-dark": "#121212",
            },
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
            borderRadius: {
              DEFAULT: "0.375rem",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .scrollbar-hide::-webkit-scrollbar {
          display: none;
        }
      }
      ::selection {
        background-color: #a855f7;
        color: #ffffff;
      }
    </style>
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-gray-900 dark:text-gray-200 font-sans antialiased transition-colors duration-300 min-h-screen flex flex-col"
  >
    {% include nav.html %}
    <main class="flex-grow w-full max-w-3xl mx-auto px-6 mt-20 mb-20">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
